.form{
    background-color: white;
    border: lightgrey 1px solid;
}

.form__label{
    display: flex;
    flex-wrap: wrap;
}

.form__header{
    background-color: white;
    margin: 0;
    padding: 15px;
    font-weight: bold;
    border-bottom: lightgrey 2px solid;
    flex-basis: 100%;
    flex-grow: 1;
}

.form__input{
    padding: 5px 20px;
    margin: 20px 15px;
    flex-grow: 1;
}

.form__button{
    width: auto;
    padding: 10px;
    margin: 20px 15px;
    background-color: teal;
    color: white;
    border: none;
    flex-grow: 0;
}