html {
    box-sizing: border-box;
    line-height: 1.15;
}

*, ::after, ::before{
    box-sizing: inherit;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 10px;
    background-color: lightgrey;
}

.main{
    max-width: 800px;
    margin: 60px auto;
    padding: 10px;
}

@media (max-width: 767px){
    .main{
        margin: 20px auto;
    }
}