html {
    box-sizing: border-box;
}

*, ::after, ::before{
    box-sizing: inherit;
}

body{
    font-family: 'Lora', sans-serif;
    margin: 10px;
}

.main{
    max-width: 800px;
    margin: 0 auto;
}